@model webapp_ZS.Models.ArtworkTag

@{
    ViewData["Title"] = "Details";
}

<h1>Detay Bilgiler</h1>

<div>
    <h4>ArtworkTag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tagName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tagName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artworks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artworks.artworksName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index" class="action-link back-button"><i class="fas fa-arrow-left"></i> Geri</a>

</div>
